USE [master]
GO
/****** Object:  Database [Timesheet]    Script Date: 6/11/2025 12:53:36 PM ******/
CREATE DATABASE [Timesheet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Timesheet', FILENAME = N'/var/opt/mssql/data/Timesheet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Timesheet_log', FILENAME = N'/var/opt/mssql/data/Timesheet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Timesheet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Timesheet]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[job_title] [nvarchar](100) NOT NULL,
	[department] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[timecard]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timecard](
	[timecard_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[status] [nvarchar](20) NULL,
	[submission_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[timecard_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entry]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry](
	[entry_id] [int] IDENTITY(1,1) NOT NULL,
	[timecard_id] [int] NOT NULL,
	[time_type_id] [int] NOT NULL,
	[entry_date] [date] NOT NULL,
	[project_id] [int] NULL,
	[task_id] [int] NULL,
	[country] [nvarchar](50) NULL,
	[quantity] [decimal](4, 2) NULL,
	[status] [nvarchar](20) NULL,
	[comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_employee_worked_hours]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 1: Total worked hours per employee (regular and overtime)
CREATE   VIEW [dbo].[vw_employee_worked_hours] AS
SELECT
	e.employee_id,
	e.full_name,
	t.start_date,
	t.end_date,
	SUM(y.quantity) AS hours_worked
FROM employee e
JOIN timecard t ON e.employee_id = t.employee_id
JOIN entry y ON t.timecard_id = y.timecard_id
WHERE y.time_type_id IN (1, 2)
	AND y.entry_date BETWEEN t.start_date AND t.end_date
GROUP BY e.employee_id, e.full_name, t.start_date, t.end_date;
GO
/****** Object:  View [dbo].[vw_hours_by_country]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 2: Total hours worked (regular and overtime) in a certain country
CREATE   VIEW [dbo].[vw_hours_by_country] AS
SELECT
	country,
	SUM(quantity) AS total_hours
FROM entry
WHERE time_type_id IN (1, 2)
GROUP BY country;
GO
/****** Object:  View [dbo].[vw_entry_json]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 3: Entry JSON viewer
CREATE   VIEW [dbo].[vw_entry_json] AS
SELECT
	entry_id,
	timecard_id,
	entry_date,
	JSON_VALUE(comments, '$.note') AS note,
	JSON_VALUE(comments, '$.submitted') AS submission
FROM entry
WHERE ISJSON(comments) = 1;
GO
/****** Object:  View [dbo].[vw_ranked_employees]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 4: Ranked employees by total hours worked (regular and overtime)
CREATE   VIEW [dbo].[vw_ranked_employees] AS
SELECT
	e.employee_id,
	e.full_name,
	SUM(y.quantity) AS total_hours,
	RANK() OVER (ORDER BY SUM(y.quantity) DESC) AS rank_by_hours
FROM employee e
JOIN timecard t ON e.employee_id = t.employee_id
JOIN entry y ON t.timecard_id = y.timecard_id
WHERE y.time_type_id IN (1, 2)
GROUP BY e.employee_id, e.full_name;
GO
/****** Object:  View [dbo].[vw_all_timecards]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 5: All timecards and their number of entries (if any)
CREATE   VIEW [dbo].[vw_all_timecards] AS
SELECT
	t.timecard_id,
	e.full_name,
	t.start_date,
	t.end_date,
	COUNT(y.entry_id) AS number_of_entries
FROM timecard t
JOIN employee e ON e.employee_id = t.employee_id
LEFT JOIN entry y ON t.timecard_id = y.timecard_id
GROUP BY t.timecard_id, e.full_name, t.start_date, t.end_date;
GO
/****** Object:  View [dbo].[vw_timecard_entries]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View Indexed: Every timecard joined with all of their entries
CREATE VIEW [dbo].[vw_timecard_entries]
WITH SCHEMABINDING
AS
SELECT
	e.timecard_id,
	t.employee_id,
	t.start_date,
	t.end_date,
	t.status as timecard_status,
	t.submission_date,
	e.entry_id,
	e.entry_date,
	e.project_id,
	e.task_id,
	e.country,
	e.time_type_id,
	e.quantity,
	e.status,
	e.comments
FROM dbo.entry AS e
JOIN dbo.timecard AS t ON e.timecard_id = t.timecard_id;
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [idx_mv_timecard_entries]    Script Date: 6/11/2025 12:53:36 PM ******/
CREATE UNIQUE CLUSTERED INDEX [idx_mv_timecard_entries] ON [dbo].[vw_timecard_entries]
(
	[entry_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[project_code] [nvarchar](20) NOT NULL,
	[project_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[task_number] [nvarchar](20) NOT NULL,
	[task_role] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_type]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_type](
	[time_type_id] [int] IDENTITY(1,1) NOT NULL,
	[time_type_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[time_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([employee_id], [full_name], [email], [job_title], [department]) VALUES (1, N'Raul Raulescu', N'raul.raulescu@endava.com', N'Data Engineer', N'Analytics')
INSERT [dbo].[employee] ([employee_id], [full_name], [email], [job_title], [department]) VALUES (2, N'Ioana Ionescu', N'ioana.ionescu@endava.com', N'UX Designer', N'Design')
INSERT [dbo].[employee] ([employee_id], [full_name], [email], [job_title], [department]) VALUES (3, N'Andrei Andreiescu', N'andrei.andreiescu@endava.com', N'Backend Developer', N'Development')
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
SET IDENTITY_INSERT [dbo].[entry] ON 

INSERT [dbo].[entry] ([entry_id], [timecard_id], [time_type_id], [entry_date], [project_id], [task_id], [country], [quantity], [status], [comments]) VALUES (5, 5, 1, CAST(N'2025-06-03' AS Date), 1, 1, N'Romania', CAST(2.00 AS Decimal(4, 2)), N'Approved', N'{"note": "Worked on fixing a bug.", "submitted": true}')
INSERT [dbo].[entry] ([entry_id], [timecard_id], [time_type_id], [entry_date], [project_id], [task_id], [country], [quantity], [status], [comments]) VALUES (6, 6, 1, CAST(N'2025-06-04' AS Date), 1, 1, N'Romania', CAST(2.00 AS Decimal(4, 2)), N'Approved', N'{"note": "Late deploy", "submitted": true}')
INSERT [dbo].[entry] ([entry_id], [timecard_id], [time_type_id], [entry_date], [project_id], [task_id], [country], [quantity], [status], [comments]) VALUES (7, 6, 3, CAST(N'2025-06-05' AS Date), NULL, 2, N'Romania', CAST(2.00 AS Decimal(4, 2)), N'Approved', N'{"note": "Medical rest", "submitted": true}')
SET IDENTITY_INSERT [dbo].[entry] OFF
GO
SET IDENTITY_INSERT [dbo].[project] ON 

INSERT [dbo].[project] ([project_id], [project_code], [project_name]) VALUES (1, N'2KGM0001', N'2K Games Management Code')
INSERT [dbo].[project] ([project_id], [project_code], [project_name]) VALUES (2, N'545DVO03', N'Mobile App Extension')
INSERT [dbo].[project] ([project_id], [project_code], [project_name]) VALUES (3, N'901CD101', N'Cloud Code Optimization Platform')
SET IDENTITY_INSERT [dbo].[project] OFF
GO
SET IDENTITY_INSERT [dbo].[task] ON 

INSERT [dbo].[task] ([task_id], [task_number], [task_role]) VALUES (1, N'11', N'Negotiation')
INSERT [dbo].[task] ([task_id], [task_number], [task_role]) VALUES (2, N'22', N'Meetings')
INSERT [dbo].[task] ([task_id], [task_number], [task_role]) VALUES (3, N'33', N'Documentation')
SET IDENTITY_INSERT [dbo].[task] OFF
GO
SET IDENTITY_INSERT [dbo].[time_type] ON 

INSERT [dbo].[time_type] ([time_type_id], [time_type_name]) VALUES (3, N'Annual Leave')
INSERT [dbo].[time_type] ([time_type_id], [time_type_name]) VALUES (2, N'Overtime')
INSERT [dbo].[time_type] ([time_type_id], [time_type_name]) VALUES (5, N'Public Holiday')
SET IDENTITY_INSERT [dbo].[time_type] OFF
GO
SET IDENTITY_INSERT [dbo].[timecard] ON 

INSERT [dbo].[timecard] ([timecard_id], [employee_id], [start_date], [end_date], [status], [submission_date]) VALUES (5, 1, CAST(N'2025-06-03' AS Date), CAST(N'2025-06-09' AS Date), N'Submitted', CAST(N'2025-06-09' AS Date))
INSERT [dbo].[timecard] ([timecard_id], [employee_id], [start_date], [end_date], [status], [submission_date]) VALUES (6, 2, CAST(N'2025-06-03' AS Date), CAST(N'2025-06-09' AS Date), N'Submitted', CAST(N'2025-06-08' AS Date))
INSERT [dbo].[timecard] ([timecard_id], [employee_id], [start_date], [end_date], [status], [submission_date]) VALUES (7, 3, CAST(N'2025-06-03' AS Date), CAST(N'2025-06-09' AS Date), N'Approved', CAST(N'2025-06-08' AS Date))
SET IDENTITY_INSERT [dbo].[timecard] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__AB6E6164923E10C2]    Script Date: 6/11/2025 12:53:36 PM ******/
ALTER TABLE [dbo].[employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_entry_date]    Script Date: 6/11/2025 12:53:36 PM ******/
CREATE NONCLUSTERED INDEX [idx_entry_date] ON [dbo].[entry]
(
	[entry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__project__891B3A6FA1363B53]    Script Date: 6/11/2025 12:53:36 PM ******/
ALTER TABLE [dbo].[project] ADD UNIQUE NONCLUSTERED 
(
	[project_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__task__4C542D8172AE1503]    Script Date: 6/11/2025 12:53:36 PM ******/
ALTER TABLE [dbo].[task] ADD UNIQUE NONCLUSTERED 
(
	[task_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__time_typ__44FD1A7ED32810C1]    Script Date: 6/11/2025 12:53:36 PM ******/
ALTER TABLE [dbo].[time_type] ADD UNIQUE NONCLUSTERED 
(
	[time_type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[entry] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[timecard] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[entry]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([project_id])
GO
ALTER TABLE [dbo].[entry]  WITH CHECK ADD FOREIGN KEY([task_id])
REFERENCES [dbo].[task] ([task_id])
GO
ALTER TABLE [dbo].[entry]  WITH CHECK ADD FOREIGN KEY([time_type_id])
REFERENCES [dbo].[time_type] ([time_type_id])
GO
ALTER TABLE [dbo].[entry]  WITH CHECK ADD FOREIGN KEY([timecard_id])
REFERENCES [dbo].[timecard] ([timecard_id])
GO
ALTER TABLE [dbo].[timecard]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[entry]  WITH CHECK ADD CHECK  (([quantity]>=(0) AND [quantity]<=(24)))
GO
ALTER TABLE [dbo].[entry]  WITH CHECK ADD CHECK  (([status]='Rejected' OR [status]='Approved' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[timecard]  WITH CHECK ADD CHECK  (([status]='Rejected' OR [status]='Approved' OR [status]='Submitted' OR [status]='Draft'))
GO
/****** Object:  StoredProcedure [dbo].[create_draft_timecard]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[create_draft_timecard]
	@employee_id INT,
	@start_date DATE,
	@end_date DATE
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO timecard (employee_id, start_date, end_date, status, submission_date)
	VALUES (
		@employee_id,
		@start_date,
		@end_date,
		'Draft',
		NULL
	);
END;
GO
/****** Object:  Trigger [dbo].[trg_no_timetravelers]    Script Date: 6/11/2025 12:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_no_timetravelers]
ON [dbo].[entry]
AFTER INSERT, UPDATE
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (
		SELECT 1 
		FROM inserted i
		JOIN timecard t ON i.timecard_id = t.timecard_id
		WHERE i.entry_date < t.start_date OR i.entry_date > t.end_date
	)
	BEGIN
		RAISERROR ('Entry date must be inside the specified time period.', 16, 1);
		ROLLBACK TRANSACTION;
	END
END;
GO
ALTER TABLE [dbo].[entry] ENABLE TRIGGER [trg_no_timetravelers]
GO
USE [master]
GO
